/*NULLIFY*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
/*--------------------*/

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  background-color: #bbb;
}

.title {
  width: 100%;
  margin-bottom: 20px;
  align-self: flex-start;
  font-size: x-large;
}
.alert-box {
  position: absolute;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.success {
  color: #42a958;
  background-color: #e1f2de;
  border-color: #d1ebcc;
}
.failure {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.notification {
  font-size: medium;
  padding: 10px;
  margin: 5px 0;
  border: 1px black solid;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
}

.container {
  position: relative;
  display: block;
  min-height: 1px;
  height: fit-content;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
}

h3 {
  font-size: large;
}
.form-inline {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-control {
  display: inline-block;
  width: auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.cards {
  margin: 10px 0;
  height: 25px;
  position: relative;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.card {
  float: left;
  width: 39px;
  height: 25px;
  text-indent: -9999px;
  background-position: 0 0;
  margin-right: 4px;
}
.card.cdisabled {
  background-position: 0 -25px;
  opacity: 0.3;
}
.card.visa {
  background-image: url(../img/card-visa.gif);
}
.card.master {
  background-image: url(../img/card-mastercard.gif);
}
.card.amex {
  background-image: url(../img/card-amex.gif);
}
.card.discover {
  background-image: url(../img/card-discover.gif);
}
.card.jcb {
  background-image: url(../img/card-jcb.gif);
}
.card.diners_club {
  background-image: url(../img/card-diners.gif);
}
.card.mir {
  background-image: url(../img/card-mir.gif);
}
